.container {
  width: 450px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: rgba(245, 251, 255, 1);
  
}
.heading {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 1rem;
}
.input {
  width: 80%;
  display: block;
  border-radius: 8px;
  height: 25px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border-style: none;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.btn {
  border-radius: 6px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: black;
  color: aliceblue;
  border: none;
  height: 28px;
}
.btn:hover {
  cursor: pointer;
}
