.Navbar {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  background-color: #0a1931;
}

.heading-title {
  margin-left: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.flexbox-item1 {
  width: 30%;
  height: 100%;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.flexbox-item2 {
  width: 70%;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-links {
  margin-left: 1.5rem;
  margin: 0;
  font-weight: normal;
  display: inline-block;
  margin-right: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 16px;
}

.nav-links:hover {
  cursor: pointer;
  font-size: 17px;
  text-decoration: underline;
}
